<nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/Images/Logo.png" width="50px" height="50px"/></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/AboutUs" routerLinkActive="active">AboutUs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ContactUs" routerLinkActive="active">ContactUs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Register" routerLinkActive="active">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Web" routerLinkActive="active">Web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Java" routerLinkActive="active">Java</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Product" routerLinkActive="active">Product</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Materials
                </a>
                <div class="dropdown-menu">
                   <li class="nav-item">
                       <a class="dropdown-item" routerLink="/JavaScript" routerLinkActive="active">Javascript</a>
                   </li>
                   <li class="nav-item">
                       <a class="dropdown-item" routerLink="/TypeScript" routerLinkActive="active">Typescript</a>
                   </li>
                   <li class="nav-item">
                        <a class="dropdown-item" routerLink="/Angular" routerLinkActive="active">Angular</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" routerLink="/Html5" routerLinkActive="active">HTML5</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" routerLink="/Css3" routerLinkActive="active">CSS3</a>
                    </li>
                </div>
            </li>  
            <li class="nav-item">
                <a class="nav-link" routerLink="/Interview" routerLinkActive="active">Interview</a>
            </li>    
        </ul>
    </div>  
</nav>
 <div>
  <router-outlet></router-outlet>  
</div>
