<h1>
  Welcome To {{name}}
</h1>

<div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                   <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        1) What is Typescript?
                   </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                            Type Script is a typed superset of JavaScript that compiles to plain JavaScript. Type Script Support Object-oriented programming language classes, interfaces, inheriteane like c# and Java.The popular JavaScript framework Angular 2.0 is written in Type Script. Type Script developed by Microsoft.                
                    </div>
                </div>
            </div>

            <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            2) What is difference between Javascript and typescriipt?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        <table>
                            <tr>
                                <th style="text-align:center">JavaScript</th>
                                <th style="text-align:center">TypeScript</th>
                            </tr>
                            <tr>
                                <td>1)It is Scripting language.</td>
                                <td>1)It is a object oriented programming language.</td>
                            </tr>
                            <tr>
                                <td>2)There is no static typing. ex:var,num.</td>
                                <td>2)It is a static typing and its types specified.</td>
                            </tr>
                            <tr>
                                <td>3)It is loosly typed Scripting language.</td>
                                <td>3)It is tightly coupled Programming language.</td>
                            </tr>
                            <tr>
                                <td>4)It doesn't have interface.</td>
                                <td>4)It support interface concept.</td>
                            </tr>
                            <tr>
                                <td>5)It doesn't support optional parameter future.</td>
                                <td>5)It support optional parameter future.</td>
                            </tr>
                            <tr>
                                <td>6)It doesn't support rest parameter future.</td>
                                <td>6)It support rest parameter future.</td>
                            </tr>
                            <tr>
                                <td>7)No Module support.</td>
                                <td>7)Module support.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                     3) What are the advantage of the Typescript?
                  </a>
               </div>
               <div id="collapseThree" class="collapse" data-parent="#accordion">
                   <div class="card-body">
                        i) One of the biggest advantages of Typescript is its code completion and intelligence.<br/>ii) Typescript provides types that can be added to variables, functions, properties etc.the benefits static typing.<br/>iii) Typescript code converted into JavaScript code by using transfiler compiler that runs on all Browsers.<br/>iv) Typescript is purely object oriented programming class, object, inheritance, Interface.<br/>v) Typescript is tightly coupled language.
                   </div>
               </div>
           </div>

           <div class="card">
               <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        4) How do you compiled  and run the typescript?
                   </a>
               </div>
               <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Compilation − JavaScript is an interpreted language. The Type Script code compiler (tsc) converted into pure JavaScript code by using transfiler compiler.  Type Script will compile the code and generate compilation errors, if it finds some syntax errors. 
                   </div>
               </div>
           </div>
           <div class="card">
               <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                        5) What is transfiler?
                  </a>
               </div>
               <div id="collapseFive" class="collapse" data-parent="#accordion">
                   <div class="card-body">
                     Transfiler is a typescript compiler. This  is used for convert the typescript code to pure JavaScript.                        
                   </div>
               </div>
           </div>
           <div class="card">
               <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                        6) Does Typescript supports all OOPS features? What are those?
                   </a>
               </div>
               <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Yes. Typescript supports object oriented programming language features. Those are class, object, Abstraction, interface, inheritance, polymorphism.<br>
                        <b>Class:</b> class is a blue print or plan for creating object. Class can exist logically object can exists physically. Class can contain properties, methods and constructors. Properties to store the values and methods to perform operations.<br/>
                        <b>Object:</b> Object is an entity It is used to state and behavior. Object created by using new keyword. Class  can instantiate the object.<br/>
                        <b>Interface:</b>  Interfaces define properties, methods, and events, Interfaces contain only the declaration of the members.<br/>
                        <b>Inheritance:</b> Accruing the properties and methods, inheriting the data from parent class to child class is called as inheritance.<br/>
                        <b>Abstractions:</b> Abstraction in Typescript is the process to hide the internal details and showing functionality only.   
                    </div>
               </div>
           </div>

           <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeveen">
                       7) What is class and object in typescript?
                    </a>
                </div>
                <div id="collapseSeveen" class="collapse" data-parent="#accordion">
                     <div class="card-body">
                        <b>Class:</b> class is a blue print or plan for creating object. Class can exist logically object can exists physically. Class can contain properties, methods and constructors.<br/>
                        <b>Fields:</b> Properties are used to store the values.<br/>
                        <b>Functions:</b> Functions are used to perform operations on a particular task.<br/>
                        <b>Constructor:</b> Constructor instantiation of the object only declaration.  Responsible for allocating memory
                        <b>Object:</b>  Object is an entity. It is used to state and behavior. Object created by using new keyword. Class can instantiate the object.<br/>
                        <b>Example:</b>  var obj = new Car("Engine 1")
                     </div>
                </div>
            </div>
            <div class="card">
               <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                        8) What is static typing and dynamic typing?
                   </a>
               </div>
               <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Transfiler is a typescript compiler. This  is used for convert the typescript code to pure JavaScript.    
                    </div>
               </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                        9) How do you implement inheritance in Type Script?
                    </a>
                </div>
                <div id="collapseNine" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        A class inherits from another class using the ‘extends’ keyword.<br/> A class inherits from interface using the ‘implements’ keyword.<br/>A interface inherits from another interface using the ‘extends’ keyword.    
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
                       10) How can we access classes from outside module?
                    </a>
                </div>
                <div id="collapseTen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        By using extends keyword in class declared. We can access that class from outside by using import keyword. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseEleveen">
                        11) Does typescript supports functions overloading? Why not JavaScript?
                    </a>
                </div>
                <div id="collapseEleveen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Yes. Typescript supports function overloading means writing multiple methods with same name but different parameters (or) arguments. Type script supports function overloading based on number of parameters.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwelve">
                        12) What is lambda expressions?
                    </a>
                </div>
                <div id="collapseTwelve" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Lambda expressions refers to anonymous functions in programming. These functions are also called as Fat Arrow functions. It reduce the number of lines of code and performance increase the application.<br/>
                        <b>Lambda Expression:</b>
                        It is an anonymous function expression that points to a single line of code. Its syntax is as follows −
                        ( [param1, parma2,…param n] )=>statement;<br/>
                        <b>Example:</b>
                        var foo = (x:number)=>10 + x 
                        console.log(foo(100))      //outputs 110 
                    </div>
                </div>
            </div>

       </div>
     </div>
        