<h1>
  Welcome To {{name}}
</h1>
<div class="container">
  <div class="media">
    <div class="media-left">
      <img src="../assets/Images/Independenceday.jpg" class="media-object" width="200px" height="250px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Krishna Janmashtami 2018 Date in India:</h4>
      <p>Independence Day is a day when people in India pay homage to their leaders and those who fought for India's freedom in the past. The period leading up to Independence Day is a time when major government buildings are illuminated with strings of lights and the tricolor flutters from homes and other buildings. Broadcast, print and online media may have special contests, programs, and articles to promote the day. Movies about India's freedom fighters are also shown on television.
        The president delivers the '"Address to the Nation" on the eve of Independence Day. India's prime minister unfurls India's flag and holds a speech at the Red Fort in Old Dehli. Flag hoisting ceremonies and cultural programs are held in the state capitals and often involve many schools and organizations
        Many people spend the day with family members or close friends. They may eat a picnic in a park or private garden, go to a film or eat lunch or dinner at home or in a restaurant. Other people go kite flying or sing or listen to patriotic songs.
      </p>
    </div>
  </div>
  <hr>
</div>


