<div class="container-fluid">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Images/Independenceday.jpg" alt="Los Angeles" width="1700px" height="600px">
          <div class="carousel-caption">
            <h3>India</h3>
            <p>India 72 Anniversary independance day Auguest 15 2018</p>
          </div>   
        </div>

        <div class="carousel-item">
          <img src="assets/Images/bird.jpg" alt="Chicago" width="1100" height="500">
          <div class="carousel-caption">
            <h3>Birds</h3>
            <p>Birds are looking very well</p>
          </div>   
        </div>

        <div class="carousel-item">
          <img src="assets/Images/Krishna.jpg" alt="New York" width="1100" height="500">
          <div class="carousel-caption">
            <h3>Lord Krishna God</h3>
            <p>Today Krishn astami</p>
          </div>   
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
  </div>                          
</div>
<div class="container-fluid">
  <div class="row">
    <div class="card">
        <div class="col-xs-4">
            <div class="col-xs-12">
                <div class="sidebarContent">

                </div>
            </div>
        </div>
    </div> 
    <div class="card">
      <div class="col-xs-8">
        <div class="mainContent">
            <h1>Welcome To {{name}}</h1>
            
            
            
        </div>
      </div>
    </div>

  </div>
</div>

 

