<div class="container-fluid">
    <div class="row">
          <div class="card">
             <div class="col-xs-4">
                 <div class="col-xs-12">
                     <div class="sidebarContent">
                            <img src="../assets/Images/bird.jpg" width="150px" height="200px" class="image"/>
                     </div>
                 </div>
             </div>
          </div> 
          <div class="card">
               <div class="col-xs-8">
                  <div class="mainContent">
                      <h1>Welcome To {{name}}</h1> 
                      <div>
                          <p>
                            <strong>Address:</strong><br>
                            PlotNo.142,1st Floor,Gate No-3,<br>
                            Vivekananda Nagar Colony, Hyderabad<br>
                            Telangana,Pin-500073.
                          </p>
                          <p>
                            <strong>PhoneNo:</strong><br>
                            (91)+ 9010052295.
                          </p>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.342458695261!2d78.41168631444053!3d17.49115838801648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91b8deee623f%3A0xd45c2bdbdc9b3f4d!2sJaguar+Gym!5e0!3m2!1sen!2sin!4v1534247535757" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                  </div>
               </div>
          </div>
    </div>
</div>

              