<div class="container">
  <div class="media">
    <div class="media-left">
      <img src="../assets/Images/Krishna1.jpg" class="media-object" width="200px" height="250px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Krishna Janmashtami 2018 Date in India:</h4>
      <p>Janmashtami, also known as Krishna Janmashtami is a religious festival commemorating the birth of Lord Krishna. One of the most important festivals of the Hindu religion, Janmashtami falls on September 2 this year and ends on September 3.</p>
      <p>Popularly celebrated in Mathura, which is said to be the birthplace of Lord Krishna, the eighth incarnation of Lord Vishnu. According to the Hindu lunar calendar, Lord Krishna was born on the eighth day at midnight in the holy month of Shravana. This festival precedes the Nandotsav festival that commemorates the occasion when Krishna’s foster father Nanda distributed gifts among the community to celebrate his birth.</p>
    </div>
  </div>
  <hr>
</div>
